/* src/components/Inicio/SimuladorFrete.css */
.simulador-container {
    background-color: #808080; /* Fundo cinza */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Bordas arredondadas (opcional) */
  }
  
  .simulador-title {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Texto branco */
    padding: 10px 20px; /* Espaçamento interno para melhor visualização */
    text-align: center; /* Centraliza o texto */
    border-radius: 5px; /* Bordas arredondadas (opcional) */
    margin-bottom: 20px; /* Espaçamento abaixo do título */
  }
  
  