
.cepOrigem{
    border: 1px solid black;
    height: 90px;
    width: 500px;
    display: flex; /*criar layouts flexíveis em um contêines. Sendo aplicando no pai, mas afetando os elementos filhos*/
    flex-direction:column;

}

.cepOrigem input {
    height: 40px;
    width: 170px;
}

.cepDestinatario{
    border: 1px solid black;
    height: 90px;
    width: 500px;
    display: flex; /*criar layouts flexíveis em um contêines. Sendo aplicando no pai, mas afetando os elementos filhos*/
    flex-direction:column;
}

.cepDestinatario input{
    height: 40px;
    width: 170px;
}

.calculoFrete label{
    text-align: left;
    
    
}
.calculoFrete{
    justify-content: flex-start;
    padding-left: 20px;
    height: 250px;
}

.frete{
    justify-content: flex-start;
    padding-left: 90px;
}
.calculo{
    width: 900px;
}

.calculoInputs input{
    justify-content: flex-start;
    width: 350px;
    margin-right: 15px;

}

.calculoInputs{
    display: flex;
    margin: 30px;
}

.entregasCalculo h3{
    background-color: red;
    color: white;
}
.entregasCalculo{
    background-color: red;
    height: 150px;
    width: 450px;
    border: 1px solid black;
    margin-left: auto;
    /* display: none; */
}
.container {
    display: flex;
    justify-content: flex-end;
}




