.blackTable {
    background-color: white;

}

.tituloPesquisa th {
    color: white;
    background-color: black;
}

.container {
    word-spacing: 50px;

}

.bg-light {
    text-align: right;
}

.title th {
    width: 100%;
    text-align: center;
    font-size: 20px;
    border-collapse: collapse;
}

.title th {
    padding: 4px;
    word-spacing: 0;
}

.btnAcoes{
    text-align: right;
}
