/* src/pages/GerenciamentoEntrega.css */
.table-container {
    margin-top: 20px;
}

.table {
    width: 100%;
}

.table th,
.table td {
    text-align: center;
}

.modal-content {
    padding: 20px;
}
