.container {
    background-color: #808080; /* Fundo cinza claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  h2, h4 {
    background-color: #000; /* Fundo preto */
    color: #fff; /* Letras brancas */
    padding: 10px;
    border-radius: 5px;
  }
  