.elementNavbar {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: 0 4px 2px -2px gray;
    /* Corrigido o box-shadow */
}

.container {
    display: flex;
    justify-content: space-between;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
    height: 50px;    /* Altura de 200 pixels */

}

.admin span {
    color: black;
    border: solid;
    background-color: white;
    padding: 1rem 1rem;
    
}

.admin {
    margin-left: 43rem;

    /* Empurra o admin para a direita */
}