.elemntNavbar{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    box-shadow: sticky;

}
.black{
    background-color: black;
}